
# Dev
.solid
.output
.vercel
.netlify
.vinxi
.dev-data
app.config.timestamp_*.js
.dev-certs
.dev-data
__snippets
#dist

# Environment
.env
.env*.local

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/
.lens

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db
